<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @shipping.title %>
</p>

<p>
  <b>Text:</b>
  <%= @shipping.text %>
</p>


<%= link_to 'Edit', edit_shipping_path(@shipping) %> |
<%= link_to 'Back', shippings_path %>
