<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @featured_product.title %>
</p>

<p>
  <b>Price:</b>
  <%= @featured_product.price %>
</p>

<p>
  <b>Image:</b>
  <%= @featured_product.image %>
</p>


<%= link_to 'Edit', edit_featured_product_path(@featured_product) %> |
<%= link_to 'Back', featured_products_path %>
