<%= form_for(@slider) do |f| %>
  <% if @slider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slider.errors.count, "error") %> prohibited this slider from being saved:</h2>

      <ul>
      <% @slider.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :catption %><br />
    <%= f.text_field :catption %>
  </div>
  <div class="field">
    <%= f.label :banner %><br />
    <%= f.text_field :banner %>
  </div>
  <div class="field">
    <%= f.label :button_url %><br />
    <%= f.text_field :button_url %>
  </div>
  <div class="field">
    <%= f.label :button_text %><br />
    <%= f.text_field :button_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
